@backgroundDark: #222;
@backgroundLight: #444;

html, body {
  margin: 0;
  padding: 0;
  background: @backgroundLight;
  background: -moz-radial-gradient(center, circle cover, @backgroundLight 0%, @backgroundDark 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,@backgroundLight), color-stop(100%,@backgroundDark)); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, circle cover, @backgroundLight 0%,@backgroundDark 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, circle cover, @backgroundLight 0%,@backgroundDark 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, circle cover, @backgroundLight 0%,@backgroundDark 100%); /* IE10+ */
  background: radial-gradient(circle at center, @backgroundLight 0%,@backgroundDark 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@backgroundLight', endColorstr='@backgroundDark',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  overflow: hidden;
}

#boids {
}
